.jumbotron {
    background-color: #ff3300;
    color: white;
    -webkit-text-stroke: 3px black;
    border: 2px solid black;
    text-shadow: 2px 2px black;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
.fa-instagram {
    background: 125688;
    color: white;
}
.fa-twitter {
    background: #55acee;
    color: white;
}
.fa-spotify {
    size: 30px;
    background-color: #7fff00;
    color: white;
}
.icons {
    margin-bottom: 20px;
}
button {
    border-radius: 10px;
    color: white;
    background-color: #ff3300;
    border: 2px solid black;
}
input {
    text-align: center;
    width: 175px;
    border: 1px solid black;
    border-radius: 5px;
}