.jumbotron {
    background-color: #ff3300;
    color: white;
    -webkit-text-stroke: 1.5px #8e8e93;
    border: 2px solid #8e8e93;
    text-shadow: 2px 2px #8e8e93;

}
.fa {
    padding: 20px 10px 20px 10px;
    font-size: 30px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    border: 1px solid #8e8e93;
}
.fa-instagram {
    background: #125688;
    color: white;
    font-size: 50px;
    background:
    radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
   
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
   
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

    
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

    border-radius: .2em;
    font-size: 30px;
    height: 2em;
    position: relative;
    width: 2em;
  
    &:before,
    &:after {
      color: #fff;
      content: '';
      display: block;
      position: absolute;
      border: .075em solid;
    }
  
    &: before {
      border-radius: inherit;
      height: .75em;
      transform: translate(.125em, .125em);
      width: .75em;
    }
  
    &: after {
      border-radius: 1em;
      box-shadow: .2em -.2em 0 -.16em;
      height: .4em;
      transform: translate(.3em, .3em);
      width: .4em;    
    }
  }
    
.fa-twitter {
    background: #55acee;
    color: white;
}
.fa-spotify {
    size: 30px;
    background-color: #7fff00;
    color: white;
}
.fa-imdb {
    background: #f5de50;
}
.icons {
    margin-bottom: 20px;
}
button {
    border-radius: 10px;
    color: white;
    background-color: #ff3300;
    border: 2px solid black;
}
input {
    text-align: center;
    width: 175px;
    border: 1px solid black;
    border-radius: 5px;
}
a {
   color: black;
}